<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head') %>
   <body>
      <div class="container">
         <p>Hello, <%= name %></p>
         <p>Please click on below link to verify your email address</p>
         <a
            href="<%= url  %>"
            target="_blank"
            >HERE</a
         >
         <p>Or copy and paste below link in your browser</p>
         <p><%= url %></p>
         <p>Regards, Clash</p>
         <%- include('../partials/footer') %>
      </div>
   </body>
</html>
